* {
    background-color: #F3F3F3;
    font-family: 'Rajdhani', sans-serif;
    padding: 10px;
    margin:0;
    color: #283747;
}

body {
    text-align: center;
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

textarea {
    border: 2px solid;
    vertical-align: middle;
}

textarea, input {
    border-color: #3C1874;
}

.material-icons {
    color: #3C1874;
}

